*{
    margin: 0;
    padding: 0;
}



/* SECTION - 1 (( Carousel ))  */

.box-caption{
    background-color: #fff;
    opacity: 55%;
    border-radius: 5px;
    border: solid black 1px;
    top: 210px; 
    height: 175px;
    position: fixed;
}

.sampl{
    border-radius: 10px;
}

.btn-sample{
    background-color: #007c3c;
    text-decoration: none;
}

.sampl:hover{
    background-color: grey;
    color: white;
}

#myCarousel-indicators > li {
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 20%;
  }

.carousel-indicators .active {
    color: rgb(255, 255, 255);
  }

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
  }


/* SECTION - 2 (( About Us )) */

.about-us-section{
    /* height: 700px; */
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #2d5440;
}

.img-src{
    border-radius: 50px;
}


/* SECTION - 3 (( Our Products )) */

.Products{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f2eddb    ;
}

.our-product-head{
    color: #00582b;
}

.products-desc{
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-samp{
    background-color: #8aaf9c;
}

.card-decks{
    margin-top: 30px;
}

.card-row-2{
    margin-top: 30px;
}

/* --->>>  SECTION - 3 - SUB_PART (( Form Bootstrap ))  */

/* .form-html{
    background-color: rgba(4, 155, 4, 0.884);
} */

.form-div{
background-color: #f2eddb ;
padding-bottom: 50px;
}

.sample-req{
    margin-bottom: 40px;
}
.form-foot{
    background-color: #8aaf9c;
    padding-top: 50px;
    padding-bottom: 50px;
}

.form-area{
    margin-top: 20px;
}


/* FOOTER SECTION */

.kpc-hd{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.address-p{
    font-size: 14px;
}

@media screen and (max-width:480px){
    .side-info{
        margin-top: 40px;
    }

    .box-caption{
        top: 180px;
        height: 225px;
    }
}

